@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.display-3 {
	font-family: 'Playfair Display', serif;
}

.col-center {
	margin: 0 auto;
	float: none;
}

.div-top-border-1 {
	margin-top: 20px;
}

.div-top-border-2 {
	margin-top: 30px;
}

.div-top-border-3 {
	margin-top: 40px;
}